.section-about {
    @extend .section !optional;

    display: flex;
    align-items: center;
    justify-content: center;

    .about-content {
        position: relative;
        padding: 50px 0;
        margin: 0;

       

        &::after {
            content: "";
            position: absolute;
            width: 32px;
            background-color: #e0752f;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    h2 {
        font-size: 3.9rem;
        color: black;

        > span {
            display: block;
            color: #e0752f;
        }
    }

    p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.22px;
        font-weight: 300;
        text-align: left;
    }
}